<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<title>Menot kuukausittain</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Menot kuukausittain</h1>
<table>
<tr>
<th>Vuosi</th>
<th>Kuukausi</th>
<th>Ruoka</th>
<th>Vuokra</th>
<th>Vapaa-aika</th>
<th>Vaatteet</th>
</tr>
<tr th:each="kategoriakuukausi : ${kategoriatkuukausi}">
<td th:text="${kategoria.vuosi}" id="y"></td>
<td th:text="${kategoria.kuukausi}" id="kuukausi"></td>
<td th:text="${kategoria.ruokakuukausi}" id="ruoka"></td>
<td th:text="${kategoria.vuokrakuukausi}" id="vuokra"></td>
<td th:text="${kategoria.vapaaaikakuukausi}" id="vapaaaika"></td>
<td th:text="${kategoria.vaatteetkuukausi}" id="vaatteet"></td>
</tr>
</table>
</body>
</html>
