<!DOCTYPE html>
<html>
<head>
<title>Taulukko</title>
</head>
<body>
<h1>Taulukko</h1>
<p>Syötä vuosi: <input type="text" id="year" /></p>
<button onclick="naytaTaulukko()">Näytä taulukko</button>
<p id="vuosiluku"></p>
<table>
<tr>
<th>Kuukausi</th>
<th>Ruoka (€)</th>
<th>Vuokra (€)</th>
<th>Vapaa-aika (€)</th>
<th>Vaatteet (€)</th>
<th>Kokonaismenot (€)</th>
</tr>
<tr>
<td>Tammikuu</td>
<td id="tamruoka">0</td>
<td id="tamvuokra">0</td>
<td id="tamvapaaaika">0</td>
<td id="tamvaatteet">0</td>
<td id="tammikuu">0</td>
</tr>
<tr>
<td>Helmikuu</td>
<td id="helruoka">0</td>
<td id="helvuokra">0</td>
<td id="helvapaaaika">0</td>
<td id="helvaatteet">0</td>
<td id="helmikuu">0</td>
</tr>
<tr>
<td>Maaliskuu</td>
<td id="maaruoka">0</td>
<td id="maavuokra">0</td>
<td id="maavapaaaika">0</td>
<td id="maavaatteet">0</td>
<td id="maaliskuu">0</td>
</tr>
<tr>
<td>Huhtikuu</td>
<td id="huhruoka">0</td>
<td id="huhvuokra">0</td>
<td id="huhvapaaaika">0</td>
<td id="huhvaatteet">0</td>
<td id="huhtikuu">0</td>
</tr>
<tr>
<td>Toukokuu</td>
<td id="touruoka">0</td>
<td id="touvuokra">0</td>
<td id="touvapaaaika">0</td>
<td id="touvaatteet">0</td>
<td id="toukokuu">0</td>
</tr>
<tr>
<td>Kesäkuu</td>
<td id="kesruoka">0</td>
<td id="kesvuokra">0</td>
<td id="kesvapaaaika">0</td>
<td id="kesvaatteet">0</td>
<td id="kesakuu">0</td>
</tr>
<tr>
<td>Heinäkuu</td>
<td id="heiruoka">0</td>
<td id="heivuokra">0</td>
<td id="heivapaaaika">0</td>
<td id="heivaatteet">0</td>
<td id="heinakuu">0</td>
</tr>
<tr>
<td>Elokuu</td>
<td id="eloruoka">0</td>
<td id="elovuokra">0</td>
<td id="elovapaaaika">0</td>
<td id="elovaatteet">0</td>
<td id="elokuu">0</td>
</tr>
<tr>
<td>Syyskuu</td>
<td id="syyruoka">0</td>
<td id="syyvuokra">0</td>
<td id="syyvapaaaika">0</td>
<td id="syyvaatteet">0</td>
<td id="syyskuu">0</td>
</tr>
<tr>
<td>Lokakuu</td>
<td id="lokruoka">0</td>
<td id="lokvuokra">0</td>
<td id="lokvapaaaika">0</td>
<td id="lokvaatteet">0</td>
<td id="lokakuu">0</td>
</tr>
<tr>
<td>Marraskuu</td>
<td id="marvuokra">0</td>
<td id="marruoka">0</td>
<td id="marvapaaaika">0</td>
<td id="marvaatteet">0</td>
<td id="marraskuu">0</td>
</tr>
<tr>
<td>Joulukuu</td>
<td id="jouvuokra">0</td>
<td id="jouruoka">0</td>
<td id="jouvapaaaika">0</td>
<td id="jouvaatteet">0</td>
<td id="joulukuu">0</td>
</tr>
</table>
<button onclick="naytaArvotDiagrammissa()">Vaihda diagramminäkymään</button>
</body>
</html>
