<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<title>Lisää menoja</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Lisää menoja</h1>
<p>Ruoka: <input type="text" th:field="${kategoria.ruoka}" /></p>
<p>Vuokra: <input type="text" th:field="${kategoria.vuokra}" /></p>
<p>Vapaa-aika: <input type="text" th:field="${kategoria.vapaaaika}" /></p>
<p>Vaatteet: <input type="text" th:field="${kategoria.vaatteet}" /></p>
<input type="submit" value="Lähetä" />
</body>
</html>