<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<title>Menot kuukausittain</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Menot kuukausittain</h1>
<table>
<tr>
<th>Kuukausi</th>
<th>Ruoka</th>
<th>Vuokra</th>
<th>Vapaa-aika</th>
<th>Vaatteet</th>
</tr>
<tr th:each="kategoriakuukausi : ${kategoriatkuukausi}">
<td th:text="${kategoria.kuukausi}"></td>
<td th.text="${kategoria.ruokakuukausi}"></td>
<td th.text="${kategoria.vuokrakuukausi}"></td>
<td th:text="${kategoria.vapaaaikakuukausi}"></td>
<td th:text="${kategoria.vaatteetkuukausi}"></td>
</tr>
</table>
</body>
</html>