<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Rekisteröidy</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="Tyylit.css" rel="stylesheet">
</head>
<body>
<h1>Rekisteröidy</h1>
<form>
<p>Sähköposti: <input type="text" th:field="${kayttaja.sahkoposti}"/></p>
<p>Käyttäjätunnus: <input type="text" th:field="${kayttaja.kayttajatunnus}"/></p>
<p>Salasana: <input type="text" th:field="${kayttaja.salasana}"/></p>
<p>Salasana uudelleen: <input type="text" th:field="${kayttaja.salasana}"/></p>
<p>Puhelin: <input type="text" th:field="${kayttaja.puhelin}"/></p>
<p>Osoite: <input type="text" th:field="${kayttaja.osoite}"/></p>
<p>Kortin numero: <input type="text" th:field="${kayttaja.kortinnumero}"/></p>
<p>Turvakoodi: <input type="text" th:field="${kayttaja.turvakoodi}"/></p>
<p>Voimassaoloaika (kk/vv): <input type="text" the:field="${kayttaja.voimassaoloaika}"/></p>
<p class="error">Syöttämäsi tiedot eivät kelpaa</p>
</form>
<input type="submit" value="Rekisteröidy"/>
</body>
</html>